spring:
  application:
    name: smart-fire-hub
  flyway:
    enabled: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8080

app:
  jwt:
    secret: ${JWT_SECRET}
    access-expiration: 1800000
    refresh-expiration: 604800000
